@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

body {
  font-family: 'Sawarabi Gothic', sans-serif;
}


:root {
  --UI-main-dark: #006494;
  --Nav-link-bg: #0582ca;
  --UI-main: #0582ca;
  --action: #54A14D;
  --delete: #8d0801;
  --BG-main: #1E3050;
  --shadow: #0b1424;
  --bug-high: #ef233c;
  --bug-med: #ffd100;
  --bug-low: #70e000;
}


header {
  background-color: var(--UI-main);
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: space-between;
  color: white;
}

footer {
  background-color: var(--UI-main);
  padding: 1rem;
  display: flex;
  flex-flow: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  color: white;
}

.footer-project {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 60%;
  gap: 0.5rem;
}

.footer-project img {
  width: 20px;
  height: 20px;
}

.footer-social {
  flex-basis: 30%;
}

.footer-social ul {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  list-style: none;
  padding: 1rem;
}

.footer-social a {
  cursor: pointer;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 0.4rem 0.6rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.4rem;
  width: 110px;
}

.footer-name {
  flex-basis: 30%;
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
  border-radius: 0 10px 10px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;


}

.nav-link img {
  width: 20px;
  height: 20px;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #e5e6e4;
}

.logo {
  width: 35px;
  height: 35px;
}

.logo-box {
  padding: 0 0.5rem;
  flex-basis: 10%;
  font-size: 16px;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo-box h1 {
  display: none;
}

.login-container {
  padding-top: 5rem;
}

.login-box {
  flex-basis: 30%;
  font-size: 1rem;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0.5rem;
}

.login-box-img {
  display: none;
}

.mobile-nav {
  position: fixed;
  color: white;
  width: 60%;
  background-color: var(--UI-main-dark);
  z-index: 10;
  border-radius: 0 10px 10px 0;
  height: 100vh;
  top: 0;

}

.mn-open {
  left: 0;
  animation: navbar-open 1s;
}

.mn-close {
  left: -100%;
  animation: navbar-close 1s;
}

.mobile-nav ul {
  width: 100%;
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
}

.mobile-nav ul li {
  width: 96%;
  border-radius: 0 10px 10px 0;
  padding: 0.2rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: var(--Nav-link-bg);
}

.mobile-nav-close-box {
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #1E3050;
  margin-bottom: 1rem;
  border-radius: 0 10px 0 0;
}

.mobile-nav-close {
  width: 40px;
  padding: 0 0.4rem;
  height: 40px;
  font-size: 2rem;
  border: 3px solid white;
  border-radius: 5px;
  color: white;
  background-color: transparent;
}

.mobile-nav-bg {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.mn-bg {
  background-color: rgba(0, 0, 0, 0.5);
}

.mn-bg-trans {
  background-color: transparent;
  pointer-events: none;
}

@keyframes navbar-close {
  from {
    left: 0;
  }

  to {
    left: -100%;
  }
}

@keyframes navbar-open {
  from {
    left: -100%;
  }

  to {
    left: 0;
  }
}

.king {
  background-color: blueviolet;
}

.main-content-container {
  padding: 2rem 0.2rem;
}

.form-content-container {
  padding: 2rem 0.2rem;
  min-height: 100vh;
}

.user-main-content-container {
  padding: 0.5rem 0.2rem;
}

.user-card-container {
  flex-basis: 100%;
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  padding: 1rem;
  width: 380px;
  height: 800px;
  overflow-y: scroll;
}


.card-container {
  flex-basis: 100%;
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  padding: 1rem;
  width: 380px;
  height: 600px;
  overflow-y: scroll;
}

.card {
  background-color: white;
  border-radius: 5px;
  height: 300px;
  box-shadow: -2px 5px 10px var(--shadow);
}

.burger-box {
  flex-basis: 30%;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.burger-button {
  width: 30px;
  height: 30px;
  background-color: transparent;
}


.bug-card-header {
  padding-block: 1rem 0;
}

.bug-importance {
  height: 12px;
  margin: 0 auto;
  width: 80%;
  border-radius: 50px;
}

.bug-low {
  background-color: var(--bug-low);
}

.bug-med {
  background-color: var(--bug-med);
}

.bug-high {
  background-color: var(--bug-high);
}


.bug-card-header-inner {
  padding: 0.6rem;
  border-radius: 0 0 0 0;
  background-color: white;
  text-align: center;
  border-bottom: 1px solid black;
  width: 90%;
  margin: 0 auto;
}

.bug-card-header-inner h2 {
  max-width: 35ch;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.bug-card-main {
  padding: 0.4rem 1rem;
}

.bug-card-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.6rem;
  gap: 0.8rem;
  font-size: 1.2rem;
}


.bug-card-text img {
  flex-basis: 10%;
}


.flex-badge {
  display: flex;
  gap: 1rem;
  margin-block: 1rem 1.2rem;
}

.project-badge {
  border: 2px solid var(--UI-main);
  display: inline-block;
  border-radius: 50px;
  display: flex;
  width: 50%;
  padding: 0.6rem 0.6rem;
  align-items: center;
  justify-content: space-evenly;
}

.project-badge img {
  flex-basis: 20%;

}

.project-badge p {
  flex-basis: 70%;
  max-width: 15ch;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.bug-card-buttons {
  display: flex;
  justify-content: space-between;
}

.bug-card-buttons button {
  padding: 1rem;
  color: white;
  font-weight: bold;
  background-color: var(--action);
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
  width: 100px;
}

.bug-card-buttons button img {
  flex-basis: 10%;
}

.delete-bug-button.delete-bug-button {
  background-color: var(--delete);
}

/* User Card */

.user-card {
  background-color: #efefef;
  border-radius: 5px;
  height: 280px;
  box-shadow: -2px 5px 10px var(--shadow);
}

.user-card-header {
  height: 70px;
  padding: 0.5rem;
  background-color: var(--UI-main);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 5px 0 0;
}

.user-card-header h2 {
  padding: 0.3rem;
  background-color: white;
  border-radius: 5px;
  width: 75%;
  text-align: center;
  box-shadow: -2px 5px 10px var(--UI-main-dark);
}

.user-card-email {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-card-email p {
  font-weight: bold;
  font-size: 1.5rem;
  max-width: 35ch;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.user-card-main {
  padding: 1rem;
  padding-bottom: 0;
}

.user-card-main p {
  margin-bottom: 0.3rem;
}

.user-card-buttons {
  padding: 0.5rem;
  display: flex;
  justify-content: space-evenly;
}

.card-button {
  padding: 1rem;
  color: white;
  font-weight: bold;
  background-color: var(--action);
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
  width: 100px;
}

.delete-user-button.delete-user-button {
  background-color: var(--delete);
}



/* form */




.form-container {
  border-radius: 5px;
  width: 90%;
  padding: 2rem;
  padding-top: 4rem;
  margin: 0 auto;
  background-color: white;
  box-shadow: -2px 5px 10px var(--shadow);
}

.form-label {
  font-weight: bold;
  display: flex;
  flex-flow: column;
  margin-bottom: 1rem;
  gap: 0.5rem;
}

.form-input {
  padding: 0.8rem;
  border: 1px solid black;
  width: 100%;
  border-radius: 5px;
}

.form-area {
  height: 100px;
}

.form-button {
  padding: 1rem;
  background-color: var(--UI-main);
  font-weight: bold;
  border-radius: 5px;
}

.form-buttons {
  display: flex;
  justify-content: space-evenly;
}

.login-form {
  border-radius: 5px;
  width: 90%;
  max-height: 300px;
  padding: 2rem;
  margin: 0 auto;
  background-color: white;
}

.login-label {
  font-weight: bold;
  display: flex;
  flex-flow: column;
  margin-bottom: 1rem;
  gap: 0.5rem;
}

.login-input {
  padding: 0.8rem;
  border: 1px solid black;
  width: 80%;
  border-radius: 5px;
}

.login-button {
  padding: 1rem;
  background-color: var(--UI-main);
  font-weight: bold;
  border-radius: 5px;
}


/* Ghost Card */

.bug-ghost-header-inner {
  padding: 2rem 0.6rem;
  border-radius: 0 0 0 0;
  text-align: center;
  border-bottom: 1px solid grey;
  width: 90%;
  margin: 0 auto;
}

.card-ghost {
  background-color: #efefef;
  border-radius: 5px;
  height: 300px;
  box-shadow: -2px 5px 10px var(--shadow);
  animation: ghost 2s infinite;
}

@keyframes ghost {
  0% {
    background-color: white;
  }

  50% {
    background-color: grey;
  }

  100% {
    background-color: white;
  }
}

/* filter form */

.bug-filter {
  background-color: white;
  color: black;
  box-shadow: -2px 5px 10px var(--shadow);
  display: flex;
  justify-content: space-evenly;
  border-radius: 5px 5px 0 0;
  border-bottom: 5px solid var(--UI-main-dark);
  padding: 1rem;
  margin: 0 auto;
  margin-inline: 1rem;
  margin-bottom: 0.5rem;
}

.bug-filter-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bug-filter-flex img {
  flex-basis: 25%;
}

.bug-filter-flex p {
  flex-basis: 55%;
}




.bug-filter-button {
  padding: 0.2rem 1rem;
  background-color: var(--UI-main);
  color: white;
  border-radius: 5px;
}

.bug-filter-select {
  width: 100px;
  background-color: transparent;
  padding: 0.4rem;
  border-radius: 5px;
  border: 1px solid var(--UI-main);
}

.bug-filter-select option {
  color: black;
  background-color: white;
}

.bug-info-box {
  background-color: white;
  border-radius: 5px;
  margin: 0.5rem 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: -2px 5px 10px var(--shadow);
  border-bottom: 5px solid var(--UI-main-dark);
}

.bug-info-section {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.bug-info-colour {
  height: 20px;
  width: 20px;
  border-radius: 5px;
}

.green {
  background-color: var(--bug-low);
}

.yellow {
  background-color: var(--bug-med);
}

.red {
  background-color: var(--bug-high);
}

/* Profile */

.profile-container {
  background-color: white;
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: -2px 5px 10px var(--shadow);
}

.profile-image-container {
  background-color: var(--UI-main-dark);
  height: 100px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 5px 0 0;
}

.profile-image-container img {
  padding: 0.5rem;
  background-color: var(--UI-main);
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.profile-text {
  padding: 1rem;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 1rem;
}

.profile-name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin-bottom: 1rem;
  border-bottom: 3px solid var(--UI-main-dark);
}

.profile-badges-container {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
}

.profile-badge {
  display: inline-block;
  border: 2px solid var(--UI-main);
  padding: 0.3rem;
  border-radius: 5px;
}


/* test */

.bug-expanded-info {
  background-color: white;
  border-radius: 5px;
  box-shadow: -2px 5px 10px var(--shadow);
  width: 90%;
  margin: 0 auto;
}

.bug-expanded-info h2 {
  padding: 2rem;
  background-color: var(--UI-main);
  text-align: center;
  color: white;
  border-radius: 5px 5px 0 0;
  margin-bottom: 1rem;
}

.bug-expanded-info-section {
  border-top: 3px solid var(--UI-main);
  padding: 1rem;
  padding-bottom: 2rem;
}

.bug-expanded-info-label {
  border: 2px solid var(--UI-main);
  border-radius: 5px 5px 0 0;
  padding: 0.2rem;
  margin-left: 0.2rem;
  text-align: center;
  border-bottom: none;
  width: 120px;
}


.back-link {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin: 0.5rem 2.2rem;
}

.back-link img {
  width: 30px;
  height: 30px;
}

.non-mobile-nav {
  display: none;
}

@media only screen and (min-width: 490px) {
  .card-container {
    width: 480px;
    height: 950px;
  }

  .flex-badge {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-block: 1rem 1.2rem;
    padding-inline: 0.5rem;
  }

  .project-badge {
    width: 40%;
    padding: 0.6rem 0.6rem;
    align-items: center;
    justify-content: space-evenly;
  }

  .bug-card-buttons {
    padding-inline: 0.5rem;
  }

  .bug-card-header-inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .user-card-container {
    width: 480px;
    height: 950px;
  }
}


@media only screen and (min-width: 665px) {

  .bug-filter,
  .bug-info-box {
    width: 550px;
    margin: 0 auto;
  }


  .login-form {
    width: 75%
  }


  footer {
    flex-flow: row;
    justify-content: space-evenly;
  }

  .footer-project {
    flex-basis: 25%;
  }


}



@media only screen and (min-width: 1024px) {
  .burger-box {
    display: none;
  }

  .mobile {
    display: none;
  }

  header {
    padding: 1.5rem 5rem;
  }

  .login-form {
    width: 600px;
  }

  .card-container,
  .user-card-container {
    height: 720px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 300px 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .form-grid-container {
    display: grid;
    grid-template-columns: 300px 1fr 500px 1fr;
    grid-template-rows: 1fr;
  }

  .non-mobile-nav {
    display: block;
    padding-top: 5rem;
    background-color: var(--UI-main-dark);
    grid-column: 1/2;
  }

  .non-mobile-nav ul {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    width: 95%;
  }

  .non-mobile-nav li {
    background-color: var(--UI-main);
    border-radius: 0 5px 5px 0;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
  }


  .main-content-container,
  .user-main-content-container,
  .form-content-container {
    grid-column: 3/4;
  }

  .footer-project {
    flex-basis: 30%;
    justify-content: flex-start;
  }

  .footer-social ul {
    flex-basis: 45%;
    flex-flow: row;
  }


}


@media only screen and (min-width: 1440px) {

  .grid-container {
    grid-template-columns: 300px 1fr 1fr 1fr;
  }


  .card-container,
  .user-card-container {
    height: 100vh;
  }

}